.panel--save {
  width: 100%;
  background-color: #f3f3f3;
  border: 1px solid grey;
  display: flex;
  justify-content: flex-end;
  padding: 16px 96px;
}

.panel--save > button {
  border: 1px solid blue;
}

.panel--nodes {
  width: 20%;
  height: 100%;
  background-color: #f3f3f3;
  border: 1px solid grey;
  padding: 24px;
  top: 72px !important;
}
